@charset "utf-8";
/* 브랜드 페이지 css */
/* 폰트 */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&family=Public+Sans:wght@200;300&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Public Sans', sans-serif; */

body,
html,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: none;
}

a {
    color: #000;
    text-decoration: none;
}


/* [스크롤바 가로크기] */
::-webkit-scrollbar {
    width: 8px;
}

/* [스크롤바 배경색, 모서리 둥글게] */
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

/* [스크롤바 트랙 배경색, 모서리 둥글게] */
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    width: 100%;
    height: 99.9%;
    /* 모바일 vh 이슈를 처리하기 위한 높이값 */
    overflow: hidden;
    /* 모바일 vh 이슈를 처리하기 위한 숨김기능 */
}

/* 배경화면 및 폰트 세팅 */
body {
    position: relative;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* 모바일 vh 이슈를 처리하기 위한 높이값 */
    overflow: hidden;
    /* 모바일 vh 이슈를 처리하기 위한 숨김기능 */
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
    animation: body 2s ease-in-out forwards;
}

@keyframes body {
    to{
        opacity: 1;
    }
}

/* 각 섹션 공통 영역 설정 */
section {
    position: relative;
    width: 100%;
}

/* 임시 테두리 */
/* main,
section,
footer {
    outline: 2px dashed #ccc;
} */

/* 모바일 vh 이슈를 처리하기 위한 모든 컨텐츠의 부모박스 */
.wrap {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* 양쪽 마진 공통 클래스 */
.wid {
    width: calc(100% - 16.33%);
    margin: 0 auto;
    /* outline: 2px dotted blue; */
}

/* 가상 속박스 공통 클래스*/
.rbxIn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10%;
}


/* 상단 영역 */
.mlogo img {
    width: 100px;
}

#mtxt {
    position: absolute;
    top: 200px;
    right: 0;
}

#mtxt span {
    display: block;
    position: unset;
    color: #000;
    text-align: right;
    font-size: 1vw;
}

#mtxt span:last-child {
    margin-top: 30px;
}

#topbx {
    background-color: #fff;
}

.blogobx {
    height: 100%;
}

.blogobx img {
    position: absolute;
    bottom: 0;
}

.storeTit::after {
    content: url(../images/black_icon/icon-shop_black.png);
    transform: rotate(0deg);
}

.store>li:hover .storeTit::after {
    transform: rotate(-180deg);
}

.store ol a {
    color: #fff;
}

.ham span {
    background-color: #000;
}

.ham.on span {
    background-color: #fff;
}

#top2 a {
    color: #fff;
}

#topbx{
    height: 80%;
}

.biglogo{
    height: 108%;
}


/* 중간 배경 박스 */
#null {
    width: 100%;
    height: 60%;
    background: url(../images/brand/bg.jpg) no-repeat fixed center/cover;
}



/* 컨텐츠 영역 */

.whbx {
    width: 100%;
    height: auto;
    background-color: #fff;
}

.whbx2 {
    position: relative;
    height: 100%;
}

.whtxt {
    display: block;
    margin-top: 50px;
    text-align: right;
    letter-spacing: -0.8px;
    font-size: 1vw;
    opacity: 0;
}

.whtxt2 {
    display: block;
    margin-top: 50px;
    font-size: 1vw;
    opacity: 0;

}

.thatbx{
    position: relative;
    width: 100%;
}

.thatbx::before{
    content: '';
    display: block;
    padding-top: 38%;
}


.wh {
    position: absolute;
    width: 31vw;
    top: 500px;
    right: 0;
    opacity: 0;
}

.wh1 a>span{
    right: -25px;
}

a>span{
    position: absolute;
    left: -25px;
    bottom: 0;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-size: 1vw;
    opacity: 0;
}


/* wh 컨텐츠 1  */
.wh1 {
    margin-top: 200px;
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(40%);
}

.wh1 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/brand/muse-1.jpg) no-repeat top/100%;
    opacity: 0;
}

/* 비율유지 가상 박스 */
.wh1 a::before {
    content: '';
    display: block;
    padding-top: 132%;
}

/* wh 컨텐츠 2  */
.wh2 {
    margin-left: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(20%);
}

.wh2 a {
    position: relative;
    right: -10.4vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #954e4e 0%, #d5c2ba 100%);
    border-radius: 10px;
    background: url(../images/brand/muse-2.jpg) no-repeat top/100%;
    opacity: 0;
}

.wh2 a::before {
    content: '';
    display: block;
    padding-top: 132%;
}

/* wh 컨텐츠 3  */
.wh3 {
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.wh3 a {
    position: relative;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/brand/muse-3.jpg) no-repeat top/100%;
    opacity: 0;
}

.wh3 a::before {
    content: '';
    display: block;
    padding-top: 132%;
}


/* 하단 영역 */
footer {
    color: #000;
}

.family ol {
    background-color: #000;
}

.family ol::before {
    border-top: 20px solid #000;
}

footer .family ol a {
    color: #fff;
}

.family span {
    background: url(../images/black_icon/icon-arrow-black.png) no-repeat center/100%;
}