@charset "utf-8";
/* 메인 페이지 CSS */

@import url(reset.css);
@import url(core.css);

body{
    background: url(../images/bg.jpg) no-repeat fixed top/cover;

}

/* ////////////////////////////////////////// 섹션 1 ///////////////////////////////////////// */

.lookbx {
    width: 100%;
    height: auto;
}

/*/////////////////////////////// 천우희//////////////////////////////////////////////// */

.wooheebx {
    position: relative;
}

/* 천우희 이미지 */
.woohee {
    position: relative;
    left: 23.3vw;
    top: 170px;
    width: 60vw;
    border-radius: 10px;
    transform: scale(.8);
}

/* 천우희 이미지 텍스트 */
.muse {
    position: relative;
    bottom: -14vh;
    width: 50vw;
    left: 11vw;
    opacity: 0;
    background: url(../images/typo-muse-2.svg) no-repeat bottom/100%;
}


/* 네케르 스토리 */
.nstory {
    color: #fff;
    text-align: right;
    margin-top: 202px;
    padding-right: 10vw;
    opacity: 0;
}

.nstory li:nth-child(3) {
    margin-top: 45px;
    margin-right: 48px;
}

.nstory li:nth-child(3) a::after {
    content: url(../images/icon--button.svg);
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.nstory li:nth-child(3) a:hover::after {
    transform: scale(1.2);
}

/*////////////////////////////// 김혜준//////////////////////////////////////// */

.hybx {
    position: relative;
}

/* 김혜준 이미지 */
.hyejun {
    position: relative;
    left: 0vw;
    top: 170px;
    width: 58vw;
    border-radius: 10px;
    transform: scale(.8);
}

/* 김혜준 이미지 텍스트 */
.lookbook {
    position: relative;
    bottom: -16vh;
    width: 50vw;
    left: 17vw;
    background: url(../images/typo-lookbook-2.svg) no-repeat bottom/100%;
    opacity: 0;
}

/* 메이크업 */
.makeup {
    color: #fff;
    margin-top: 202px;
    padding-left: 10vw;
    opacity: 0;
}

.makeup li:nth-child(3) {
    margin-top: 45px;
    margin-right: 48px;
}

.makeup li:nth-child(3) a::after {
    content: url(../images/icon--button.svg);
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    transition: transform .2s ease-in-out;
}

.makeup li:nth-child(3) a:hover::after {
    transform: scale(1.2);
}


/* /////////////////// 플라워 가든//////////////////////////////////// */

.flowerbx {
    position: relative;
}

/* 플라워가든 이미지 */
.fgImg {
    position: relative;
    left: 23.3vw;
    top: 170px;
    width: 60vw;
    border-radius: 10px;
    transform: scale(.8);
}

/* 플라워가든 이미지 텍스트 */
.flowerGarden {
    position: relative;
    bottom: -13vh;
    width: 48vw;
    left: 11vw;
    background: url(../images/typo-flower-2.svg) no-repeat bottom/100%;
    opacity: 0;
}


/* 플라워가든 텍스트 */
.fgtest {
    color: #fff;
    text-align: right;
    margin-top: 202px;
    padding-right: 10vw;
    opacity: 0;
}

.fgtest li:nth-child(5) {
    font-weight: bold;
    margin-top: 45px;
    margin-right: 48px;
}

.fgtest li:nth-child(5) a::after {
    content: url(../images/icon--button.svg);
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.fgtest li:nth-child(5) a:hover::after {
    transform: scale(1.2);
}






/* /////////////////////////////////////// 섹션2 ////////////////////////////////////////////////////////// */

.facebx {
    width: 100%;
    height: auto;
}

.facebx2 {
    position: relative;
    height: 100%;
}

.facetxt {
    margin-top: 300px;
    padding-right: 10vw;
    color: #fff;
    text-align: right;
    letter-spacing: -0.8px;
    opacity: 0;
}

.face {
    width: 24vw;
    margin-top: 67px;
    padding-left: 10vw;
    opacity: 0;
}


/* 스크롤 액션 공통클래스 */
.Ani{
    opacity: 0;
    top: 400px;
}




/* face 컨텐츠 - 파운데이션 */
.fc1 {
    /* position: relative; */
    margin-top: 200px;
    margin-left: 50%;
    padding: 3.6%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.fc1 a {
    position: relative;
    right: -7.3vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.fc1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.fc1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.fc1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.fc1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.fc1 span:nth-of-type(3) {
    margin-top: 23px;
}

.fc1 img {
    position: absolute;
    bottom: 7%;
    right: 10.5%;
    width: 80%;
    transition: opacity .6s;
}

.fc1 a:hover img {
    opacity: .6;
}





/* face 컨텐츠2 - 뷰티 밤 */

.fc2 {
    /* position: relative; */
    margin-right: 50%;
    padding: 3.6%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-40%);
    /* 위치값으로 배치하면 화면크기에 따라 위치값이 상대적으로 변하므로 트랜스폼으로 위치를 고정시킨다. (중요!!!) */
}

.fc2 a {
    position: relative;
    left: -2.9vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #ac8d73 0%, #e8d8cb 100%);
    color: #fff;
    border-radius: 10px;
    transform: translateY(-10%);
    overflow: hidden;
}

.fc2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.fc2 h2 {
    margin-top: 8px;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 110%;
}

.fc2 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: 'Public Sans', sans-serif;
}

.fc2 span:nth-of-type(2) {
    margin-top: 23px;
    color: #fff;
}

.fc2 img {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    transition: opacity .6s;
}

.fc2 a:hover img {
    opacity: .6;
}



/* face 컨텐츠 3 - 퍼펙션 */
.fc3 {
    width: 50%;
    margin-left: 50%;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-71%);
}

.fc3 a {
    position: relative;
    width: 31.2vw;
    left: .5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/face_3.jpg) no-repeat center/100% 100%;
    transform: translateY(-14%);
}

.fc3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}


.fc3 span {
    display: block;
    font-weight: lighter;
    white-space: nowrap;
}

.fc3 span:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
}

.fc3 span:nth-of-type(2) {
    margin-top: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.fc3 span:nth-of-type(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;

}

.fc3 span:nth-of-type(4) {
    margin-top: 23px;
}

.fc3 a:hover img {
    opacity: .6;
}

.fc3 h2 {
    position: absolute;
    bottom: 8%;
    font-size: 3vw;
    white-space: nowrap;
}




/* face 컨텐츠 4 - 프로덕트 */

.fc4 a {
    position: absolute;
    top: 110%;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
    opacity: 0;
}

.fc4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.fc4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.fc4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.fc4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 98%;
}


.fc4-1-1 img {
    width: 50%;
    background: linear-gradient(180deg, #f29f79, #ddb9a2, #a97650) no-repeat center/99% 98%;
}

.fc4 a:hover .fc4-1-1 {
    opacity: 0;
}

.fc4-2 {
    position: absolute;
    top: 39%;
}

.fc4 span {
    color: #666;
    font-size: 1.3vw;
}






/* ////////////////////////////////////////////////////섹션 3////////////////////////////////////////////////////// */

.lipbx {
    width: 100%;
    height: auto;
}

.lipbx2 {
    position: relative;
    height: 100%;
}

.liptxt {
    color: #fff;
    padding-left: 10vw;
    text-align: left;
    letter-spacing: -0.8px;
    opacity: 0;
}

.lip {
    display: block;
    width: 18vw;
    margin-top: 67px;
    margin-left: auto;
    padding-right: 10vw;
    opacity: 0;
}


/* 립 컨텐츠 1 - 멜로우 레드 */
.lip1 {
    /* position: relative; */
    margin-top: 200px;
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.lip1 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.lip1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.lip1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.lip1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.lip1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.lip1 span:nth-of-type(3) {
    margin-top: 23px;
}

.lip1 img {
    position: absolute;
    bottom: 6%;
    right: 15.5%;
    margin: 0 auto;
    width: 70%;
    transition: opacity .6s;
}

.lip1 a:hover img {
    opacity: .6;
}




/* lip 컨텐츠 2 - 체스트넛 무스 */
.lip2 {
    margin-left: 50%;
    /* padding: 3.6%; */
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-40%);
    /* 위치값으로 배치하면 화면크기에 따라 위치값이 상대적으로 변하므로 트랜스폼으로 위치를 고정시킨다. (중요!!!) */
}

.lip2 a {
    position: relative;
    right: -10.4vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #954e4e 0%, #d5c2ba 100%);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.lip2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.lip2 h2 {
    margin-top: 8px;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 110%;
}

.lip2 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: 'Public Sans', sans-serif;
}

.lip2 span:nth-of-type(2) {
    margin-top: 23px;
    color: #fff;
}

.lip2 span:nth-of-type(3) {
    margin-top: 23px;
    color: #fff;
}

.lip2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: opacity .6s;
}

.lip2 a:hover img {
    opacity: .6;
}


/* lip 컨텐츠 3 - 6color */
.lip3 {
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-70%);
}

.lip3 a {
    position: relative;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}

.lip3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.lip3 h3 {
    margin-top: 5%;
    font-size: 2vw;
}

.lip3 span {
    display: block;
    margin-top: 23px;
    color: #ccc;
}

/* lip svg 이미지 설정 */
.lip3 svg {
    display: block;
    margin: 15% auto;
    width: 80%;
    height: 50%;
}

/* svg 각 영역 색 채우기 */
.lcolor1 {
    fill: #aa5551
}

.lcolor2 {
    fill: #ac4347
}

.lcolor3 {
    fill: #9e2133
}

.lcolor4 {
    fill: #d82e2a
}

.lcolor5 {
    fill: #f35a31
}

.lcolor6 {
    fill: #b02c27
}

.lip3 h2 {
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
}




/* lip 컨텐츠 4 - 프로덕트 */

.lip4 a {
    position: absolute;
    top: 110%;
    width: 31.2vw;
    right: 10vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
    opacity: 0;
}

.lip4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.lip4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.lip4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.lip4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 98%;
}


.lip4-1-1 img {
    width: 50%;
    background: linear-gradient(180deg, #e8a69d, #e18580, #d75053) no-repeat center/99% 98%;
}

.lip4 a:hover .lip4-1-1 {
    opacity: 0;
}

.lip4-2 {
    position: absolute;
    top: 39%;
}

.lip4 span {
    color: #666;
    font-size: 1.3vw;
}


/* //////////////////////////////////////////// 섹션4//////////////////////////////////////////////////////////// */
.eyebx {
    width: 100%;
    height: auto;
}

.eyebx2 {
    position: relative;
    height: 100%;
}

.eyetxt {
    color: #fff;
    padding-right: 10vw;
    text-align: right;
    letter-spacing: -0.8px;
    opacity: 0;
}

.eye {
    display: block;
    width: 18vw;
    margin-top: 67px;
    margin-right: auto;
    padding-left: 10vw;
    opacity: 0;
}



/* eye 컨텐츠 - 무드 브라운 */
.eye1 {
    /* position: relative; */
    margin-top: 200px;
    margin-left: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.eye1 a {
    position: relative;
    width: 31.2vw;
    right: -10.4vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.eye1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.eye1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.eye1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.eye1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.eye1 span:nth-of-type(3) {
    margin-top: 23px;
}

.eye1 img {
    position: absolute;
    bottom: 6%;
    right: 15.5%;
    margin: 0 auto;
    width: 70%;
    transition: opacity .6s;
}

.eye1 a:hover img {
    opacity: .6;
}


/* eye 컨텐츠 2 - 벨리 라이크 블렌딩 */
.eye2 {
    width: 50%;
    margin-right: 50%;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-51%);
}

.eye2 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/eye_2.jpg) no-repeat center/100% 100%;
}

.eye2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}


.eye2 span {
    display: block;
    font-weight: lighter;
    white-space: nowrap;
}

.eye2 span:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
}

.eye2 span:nth-of-type(2) {
    margin-top: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.eye2 span:nth-of-type(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;

}

.eye2 span:nth-of-type(4) {
    margin-top: 23px;
}

.eye2 a:hover img {
    opacity: .6;
}

.eye2 h2 {
    position: absolute;
    bottom: 8%;
    font-size: 3vw;
    white-space: nowrap;
}

/* eye 컨텐츠 3 - 4color */
.eye3 {
    margin-left: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-70%);
}

.eye3 a {
    position: relative;
    width: 31.2vw;
    left: 1vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}

.eye3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.eye3 h3 {
    margin-top: 5%;
    font-size: 2.2vw;
}

.eye3 span {
    display: block;
    margin-top: 23px;
    color: #ccc;
}

/* eye svg 이미지 설정 */
.eye3 svg {
    display: block;
    margin: 5% auto;
    width: 80%;
    height: 50%;
}

/* svg 각 영역 색 채우기 */
.ecolor1 {
    fill: #837067
}

.ecolor2 {
    fill: #614c44
}

.ecolor3 {
    fill: #937074
}

.ecolor4 {
    fill: #b38d81
}

.eye3 h2 {
    position: absolute;
    bottom: 6%;
    left: 25%;
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
}

/* eye 컨텐츠 4 - 프로덕트 */

.eye4 a {
    position: absolute;
    top: 110%;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
    opacity: 0;
}

.eye4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.eye4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.eye4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.eye4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 99%;
}


.eye4-1-1 img {
    width: 50%;
    background: linear-gradient(0deg, #e6b4a8, #bfb5e2) no-repeat center/99% 99%;
}

.eye4 a:hover .eye4-1-1 {
    opacity: 0;
}

.eye4-2 {
    position: absolute;
    top: 39%;
}

.eye4 span {
    color: #666;
    font-size: 1.3vw;
}



/* ////////////////////////////////////////////////////////섹션5/////////////////////////////////////////////////// */
.skinbx {
    width: 100%;
    height: auto;
}

.skinbx2 {
    position: relative;
    height: 100%;
}

.skintxt {
    color: #fff;
    padding-left: 10vw;
    text-align: left;
    letter-spacing: -0.8px;
    opacity: 0;
}

.skincare {
    display: block;
    width: 37vw;
    margin-top: 67px;
    margin-left: auto;
    padding-right: 10vw;
    opacity: 0;
}


/* skin 컨텐츠 1 - 모이스터치 */
.skin1 {
    margin-top: 200px;
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.skin1 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.skin1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.skin1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.skin1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.skin1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.skin1 span:nth-of-type(3) {
    margin-top: 23px;
}

.skin1 img {
    position: absolute;
    bottom: 6%;
    right: 10.5%;
    margin: 0 auto;
    width: 80%;
    transition: opacity .6s;
}

.skin1 a:hover img {
    opacity: .6;
}

/* skin 컨텐츠2 - 미스트 */
.skin2 {
    margin-left: 50%;
    /* padding: 3.6%; */
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-40%);
    /* 위치값으로 배치하면 화면크기에 따라 위치값이 상대적으로 변하므로 트랜스폼으로 위치를 고정시킨다. (중요!!!) */
}

.skin2 a {
    position: relative;
    right: -10.4vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #fd9785 0%, #f7dfbf 100%);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.skin2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.skin2 h2 {
    margin-top: 8px;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 110%;
}

.skin2 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: 'Public Sans', sans-serif;
}

.skin2 span:nth-of-type(2) {
    margin-top: 23px;
    color: #fff;
}

.skin2 span:nth-of-type(3) {
    margin-top: 23px;
    color: #fff;
}

.skin2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: opacity .6s;
}

.skin2 a:hover img {
    opacity: .6;
}

/* skin 컨텐츠 3 - 모이스터치 크림*/
.skin3 {
    width: 50%;
    margin-right: 50%;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-79%);
}

.skin3 a {
    position: relative;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/skincare_3.jpg) no-repeat center/100% 100%;
}

.skin3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}


.skin3 span {
    display: block;
    font-weight: lighter;
    white-space: nowrap;
}

.skin3 span:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
}

.skin3 span:nth-of-type(2) {
    margin-top: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.skin3 span:nth-of-type(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;

}

.skin3 span:nth-of-type(4) {
    margin-top: 23px;
}

.skin3 a:hover img {
    opacity: .6;
}

.skin3 h2 {
    position: absolute;
    bottom: 8%;
    font-size: 3vw;
    white-space: nowrap;
}

/* skin 컨텐츠 4 - 프로덕트 */
.skin4 a {
    position: absolute;
    top: 110%;
    width: 31.2vw;
    right: 10vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
    opacity: 0;
}

.skin4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.skin4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.skin4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.skin4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 98%;
}


.skin4-1-1 img {
    width: 50%;
    background: linear-gradient(180deg, #e6c8bd, #fdc982, #d77970) no-repeat center/99% 98%;
}

.skin4 a:hover .skin4-1-1 {
    opacity: 0;
}

.skin4-2 {
    position: absolute;
    top: 39%;
}

.skin4 span {
    color: #666;
    font-size: 1.3vw;
}
