@charset "utf-8";
/* 미디어쿼리 */

@media only screen and (max-width:760px) {
    body {
        background: url(../images/bgm.jpg) no-repeat fixed center/cover;
    }

    /* 공통 박스 가로크기 */
    .wid {
        width: 90%;
    }

    /* 각 섹션 서브구역 공통 비율유지 가상박스 */
    .mob::before {
        content: '';
        display: block;
        margin-top: 30px;
        padding-top: 138%;
    }

    /* /////////////////////////////상단 영역 ////////////////////*/

    /* 네비게이션 */
    .gnb {
        display: none;
    }

    /* 상단로고 */
    .mlogo {
        top: 13px;
        left: 16px;
    }

    .mlogo.on {
        top: 13px;
        left: 16px;
    }

    .mlogo img {
        line-height: 30px;
    }

    /* 메인로고 */
    .biglogo span {
        font-size: 5vw;
        right: -42%;
    }

    .biglogo img {
        width: 76vw;
    }

    /* 상단 상점 메뉴 */
    .store {
        top: 48px;
        right: 82px;
    }

    .storeTit {
        font-size: 12px;
    }

    .storeTit::after {
        top: 4px;
        margin-left: 5px;
        transform: rotate(270deg) scale(.7);

    }

    .store>li:hover .storeTit::after {
        transform: rotate(90deg) scale(.7);
    }

    .store ol {
        width: 153px;
    }

    /* 햄버거 버튼 */
    .ham {
        top: 48px;
        width: 30px;
        right: 19px;
        height: 13px;
    }

    .ham span:nth-child(2) {
        transform: translateY(-17%)
    }

    #top2 {
        display: block;
    }

    #top2.on {
        opacity: 1;
        height: 100vh;
    }


    /* ///////////////////////섹션 1///////////////////////////// */

    /* 천우희 */
    .woohee {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
    }

    .muse {
        position: absolute;
        bottom: 43%;
        left: 0;
    }

    .nstory {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: unset;
        padding-right: unset;
        font-size: 3.5vw;
    }

    .nstory li:nth-child(3) {
        margin-top: 13px;
        margin-right: unset;
    }

    .nstory li:nth-child(3) a::after {
        position: unset;
        display: inline-block;
        margin: unset;
        vertical-align: middle;
        transform: scale(0.7);
    }

    .nstory li:nth-child(3) a:hover::after {
        transform: unset;
    }


    /* 김혜준 */
    .hyejun {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .lookbook {
        position: absolute;
        bottom: 43%;
        left: 0;
    }

    .makeup {
        position: absolute;
        width: 100%;
        bottom: 0;
        margin: unset;
        padding: unset;
        font-size: 3.5vw;
    }

    .makeup li:nth-child(3) {
        float: right;
        margin-top: 13px;
        margin-right: unset;
    }

    .makeup li:nth-child(3) a::after {
        display: inline-block;
        vertical-align: middle;
        transform: scale(0.7);
        position: unset;
        margin: unset;
    }

    .makeup li:nth-child(3) a:hover::after {
        transform: unset;
    }


    /* 플라워가든 */
    .fgImg {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .flowerGarden {
        position: absolute;
        bottom: 43%;
        left: 0;
    }


    .fgtest {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: unset;
        padding: unset;
        font-size: 3.5vw;
    }

    .fgtest li:nth-child(5) {
        margin-top: 13px;
        margin-right: unset;
    }

    .fgtest li:nth-child(5) a::after {
        display: inline-block;
        vertical-align: middle;
        transform: scale(0.7);
        position: unset;
        margin: unset;
    }


    /* /////////////////////////////////////////////// 섹션2////////////////////////////////////////// */
    .facetxt {
        margin-top: 30px;
        padding: unset;
    }

    .face {
        padding: unset;
    }


    /* 페이스 컨텐츠1 */
    .fc1 {
        position: relative;
        margin-top: 30px;
        margin-left: unset;
        padding: unset;
        width: 100%;
    }

    .fc1 a {
        width: 100%;
        right: 0;
    }

    .fc1 a::before {
        padding-top: 132%;
    }

    .fc1 h2 {
        font-size: 4vw;
    }

    /* 페이스 컨텐츠2 */
    .fc2 {
        margin-top: 30px;
        padding: unset;
        width: 100%;
        transform: unset;
    }

    .fc2 a {
        left: 0;
        width: 100%;
        transform: unset;
    }

    .fc2 a::before {
        padding-top: 132%;
    }

    .fc2 h2 {
        font-size: 6vw;
    }


    /* 페이스 컨텐츠3 */
    .fc3 {
        width: 100%;
        margin-top: 30px;
        margin-left: unset;
        transform: unset;
    }

    .fc3 a {
        width: 100%;
        left: 0;
        transform: unset;
    }

    .fc3 a::before {
        padding-top: 132%;
    }

    .fc3 span {
        font-size: 3vw !important;
    }

    /* 페이스 컨텐츠4 */
    .fc4 {
        margin-top: 30px;
    }

    .fc4 a {
        position: relative;
        transform: unset;
        width: 100%;
        left: 0;
    }

    .fc4 span {
        font-size: 3vw;
    }

    .fc4 a::before {
        padding-top: 132%;
    }

    /* //////////////////////////////////////////////////////섹션3////////////////////////////////////////////// */

    .liptxt {
        padding: unset;
        margin-top: 30px;
    }

    .lip {
        padding: unset;
        margin-top: 67px;
    }

    /* 립 컨텐츠 1 */
    .lip1 {
        margin: unset;
        width: 100%;
    }

    .lip1 a {
        width: 100%;
        margin-top: 30px;
    }

    .lip1 a::before {
        padding-top: 132%;
    }

    /* 립 컨텐츠 2 */
    .lip2 {
        transform: unset;
        margin-top: 30px;
        width: 100%;
        margin-left: unset;
    }

    .lip2 a {
        width: 100%;
        right: unset;
    }

    .lip2 a::before {
        padding-top: 132%;
    }

    .lip2 h2 {
        font-size: 6vw;
    }

    /* 립 컨텐츠 3 */
    .lip3 {
        transform: unset;
        margin-top: 30px;
        width: 100%;
        margin-right: unset;
    }

    .lip3 a {
        width: 100%;
        left: unset;
    }

    .lip3 a::before {
        padding-top: 132%;
    }

    .lip3 h2 {
        font-size: 6vw;
    }

    .lip3 h3 {
        font-size: 3vw;
    }

    /* 립 컨텐츠 4  */
    .lip4 {
        width: 100%;
        margin-top: 30px;
    }

    .lip4 a {
        right: unset;
        width: 100%;
        position: relative;
        transform: unset;
    }

    .lip4 span {
        font-size: 3vw;
    }

    .lip4 a::before {
        padding-top: 132%;
    }


    /* ////////////////////////////////////////////////////// 섹션4///////////////////////// */
    .eyetxt {
        padding: unset;
        margin-top: 30px;
    }

    .eye {
        padding: unset;
    }

    /* 아이 컨텐츠 1 */
    .eye1 {
        margin-top: 30px;
        margin-left: unset;
        width: 100%;
    }

    .eye1 a {
        width: 100%;
        right: unset;
    }

    .eye1 a::before {
        padding-top: 132%;
    }

    /* 아이 컨텐츠 2 */
    .eye2 {
        transform: unset;
        width: 100%;
        margin-right: unset;
        margin-top: 30px;
    }

    .eye2 a {
        width: 100%;
    }

    .eye2 a::before {
        padding-top: 132%;
    }

    .eye2 span {
        font-size: 3vw !important;
    }

    /* 아이 컨텐츠 3 */
    .eye3 {
        transform: unset;
        width: 100%;
        margin-left: unset;
        margin-top: 30px;
    }

    .eye3 a {
        width: 100%;
        left: unset;
    }

    .eye3 h2 {
        position: unset;
        bottom: unset;
        font-size: 6vw;
        margin-top: 30px;
    }

    .eye3 h3 {
        font-size: 3vw;
    }

    .eye3 a::before {
        padding-top: 132%;
    }

    /* 아이 컨텐츠 4 */
    .eye4 {
        width: 100%;
        margin-top: 30px;
    }

    .eye4 a {
        position: relative;
        transform: unset;
        width: 100%;
        left: unset;
    }

    .eye4 a::before {
        padding-top: 132%;
    }

    .eye4 span {
        font-size: 3vw;
    }

    /* /////////////////////////////////////////////////섹션 5/////////////////////////////////////// */

    .skintxt {
        padding: unset;
        margin-top: 30px;
    }

    .skincare {
        padding-right: unset;
    }

    /* 스킨 컨텐츠 1 */
    .skin1 {
        margin-right: unset;
        margin-top: 30px;
        width: 100%;
    }

    .skin1 a {
        width: 100%;
    }

    .skin1 a::before {
        padding-top: 132%;
    }

    /* 스킨 컨텐츠 2 */
    .skin2 {
        margin-left: unset;
        margin-top: 30px;
        width: 100%;
        transform: unset;
    }

    .skin2 a {
        width: 100%;
        right: unset;
    }

    .skin2 h2 {
        font-size: 6vw;
    }

    .skin2 a::before {
        padding-top: 132%;
    }

    /* 스킨 컨텐츠 3 */

    .skin3 {
        margin-top: 30px;
        margin-right: unset;
        width: 100%;
        transform: unset;
    }

    .skin3 a {
        width: 100%;
        left: unset;
    }

    .skin3 span {
        font-size: 3vw !important;
    }

    .skin3 a::before {
        padding-top: 132%;
    }

    /* 스킨 컨텐츠 4 */
    .skin4 {
        width: 100%;
        margin-top: 30px;
    }

    .skin4 a {
        position: relative;
        width: 100%;
        right: unset;
        transform: unset;
    }

    .skin4 span {
        font-size: 3vw;
    }

    .skin4 a::before {
        padding-top: 132%;
    }

    /* 푸터 영역 */
    footer{
        margin-top: 565px;
    }
    
    .footbx{
        padding: 40px 0px;
    }

    address{
        font-size: 11px;
        line-height: 6px;
    }

    .emailbx{
        font-size: 11px;
        line-height: 6px;
    }
    
    .family>li>a{
        font-size: 10px;
    }

    .sns img{
        width: 26px;
        height: 26px;
    }

}


/* 가로 580px에서 스토리 십자 버튼 크기 줄이기 */
@media only screen and (max-width:580px) {
    .nstory li:nth-child(3) a::after {
        transform: scale(0.6);
    }

    .makeup li:nth-child(3) a:hover::after {
        transform: scale(0.6);
    }

    .fgtest li:nth-child(5) a::after {
        transform: scale(0.6);
    }

}


/* 갤럭시 폴드 */
@media only screen and (max-width:300px) {

    .store {
        right: 63px;
    }

    .eye3 h2 {
        margin-top: 17px;
    }
}