@charset "utf-8";
/* 미디어쿼리 */

@media only screen and (max-width:760px) {
    body {
        background: url(../images/bgm.jpg) no-repeat fixed top/cover;
        min-width: unset;
    }

    /* 공통 박스 가로크기 */
    .wid {
        width: 90%;
    }

    /* /////////////////////////////상단 영역 ////////////////////*/

    /* 네비게이션 */
    .gnb {
        display: none;
    }

    /* 상단로고 */
    .mlogo {
        top: 13px;
        left: 16px;
    }

    .mlogo.on {
        top: 13px;
        left: 16px;
    }

    .mlogo img {
        line-height: 30px;
    }

    /* 메인로고 */
    .biglogo span {
        font-size: 5vw;
        right: -42%;
    }

    .biglogo img {
        width: 76vw;
    }

    /* 상단 상점 메뉴 */
    .store {
        top: 48px;
        right: 82px;
    }

    .storeTit {
        font-size: 12px;
    }

    .storeTit::after {
        top: 4px;
        margin-left: 5px;
        transform: rotate(270deg) scale(.7);

    }

    .store>li:hover .storeTit::after {
        transform: rotate(90deg) scale(.7);
    }

    .store ol {
        width: 153px;
    }

    /* 햄버거 버튼 */
    .ham {
        top: 46px;
        width: 30px;
        right: 19px;
    }


    /* ///////////////////////섹션 1///////////////////////////// */

    /* 천우희 */
    .woohee {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
    }

    .wooheebx::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .muse {
        position: absolute;
        bottom: 28%;
        left: 0;
    }

    .nstory {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-top: unset;
        padding-right: unset;
        font-size: 2.5vw;
    }

    .nstory li:nth-child(3) {
        margin-top: 23px;
    }

}


/* 갤럭시 폴드 */
@media only screen and (max-width:300px) {

    .store {
        right: 63px;
    }
}